<div class="navb" id="nav">
        <ul class="nav1">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a href="/registration">Registration</a>
            </li>
        </ul>
    </div>